/* adding all fonts we need and also setting default margin
 and padding zero , and also using border box for all box sizing*/
* {
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI", Roboto,
    Oxygen, Ubuntu,
    Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue",
    Arial, sans-serif, "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* this is top level body which holds all other things
setting background image for our background and using cover for all types of browsers
and also using flex for container with center alignment*/
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url("../images/background.jpg") no-repeat fixed center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-size: cover;
}


/*this is intermediate layer (container) between body and sub container
,using flex for keeping sub container, just use that for prettier design*/
.container {
    max-width: 1500px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    padding: 15px 15px 15px 15px;
}


/* this is main container which keeps left and right card in it, using opacity here
 makes container glass like, also using row direction flex for left and right card*/
.sub-container {
    padding: 15px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 45%;
    justify-content: space-around;
    min-height: 65vh;
    background-color: #67acac;
    border-radius: 75px;
    opacity: 0.8;
    flex-shrink: 1;
    flex-grow: 1;
    /*overflow: hidden;*/
}


/* this is left and right card container, using column direction flex in both of them
 and doing some padding*/
.card {
    min-width: 0;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* changing size of left card*/
.left-card {
    min-height: 50vh;
    flex-basis: 40%;
}


/* changing size of right card*/
.right-card {
    min-height: 60vh;
    flex-basis: 50%;
}


/* this card contains response of server and shows that to users
just some padding and font size*/
.result-card {
    font-size: 20px;
    padding: 5px 5px 5px 5px;
}


/* this card contains result of storage and shows that to users
just some padding and font size and also creating dashed border for it and also
using column direction flex */
.save-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0.5;
    border-style: dashed;
    border-color: #3f7474;
    padding: 2px 10px 5px;
    font-size: 20px;
    visibility: hidden;
}


/* this is setting for all headers
just some font settings */
.header {
    font-size: 25px;
    font-weight: bold;
}


/*this is setting for three buttons in site, and creates nice looking button*/
.button {
    display: block;
    width: 55%;
    height: 38px;
    border-radius: 25px;
    margin: 5px 0;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    background-size: 200%;
    transition: .4s;
}


/*this is setting for hovering on three buttons in site*/
.button:hover {
    background-position: right;
}


/*this is setting for coloring save and submit buttons in site*/
.submit-btn, .save-btn {
    background-image: linear-gradient(to right, #468ba7 0%, #07558e 75%);
    color: #ffffff;
}


/*this is setting for coloring clear button in site*/
.clear-btn {
    background-image: linear-gradient(to right, rgb(255, 63, 63) 0%, #ff0810 75%);
    color: #ffffff;
}


/* this is setting for input text form in right card
just some font settings*/
.text-input-form {
    font-size: 26px;
    font-weight: lighter;
}


/*this is setting for search text box in site, and creates nice looking text box*/
.search-text {
    border-radius: 5px;
    border-style: unset;
    outline-style: unset;
    outline-color: #ff0810;
    text-align: left;
    padding: 6px 4px 6px 4px;
    font-size: 16px;
    opacity: 0.9;
    max-width: 60%;
}


/*this is setting for hovering on search text box in site*/
.search-text:hover, #search-text:focus:active {
    opacity: 1;
    border-style: unset;
}


/*changing radio button font size*/
.input-radio-form {
    font-size: 20px;
}


/*changing size of radio button circle and also changing cursor*/
.radio-btn {
    width: 15px;
    height: 15px;
    cursor: pointer;
}


/*hiding this three elements, because we don't need them before submitting*/
#result-gender, #result-percentage {
    visibility: hidden;
}


/*this creates nice looking error box for showing error message in it*/
.error-box {
    /*display: block;*/
    position: fixed;
    border-radius: 5px;
    margin: 10px 10px;
    min-width: 10%;
    max-width: 25%;

    font-size: 14px;
    padding: 15px 5px 15px 5px;
    background-image: linear-gradient(to right, rgb(255, 63, 63) 0%, #ff0810 75%);
    color: #ffffff;
    text-align: left;
    top: 0;
    left: 0;
    visibility: hidden;
}


/* changing size, padding, font size, width , ... for some elements in order to
make site more responsive when zooming out or in*/

@media (max-width: 1250px) {

    .header {
        font-size: 22px;
        font-weight: bold;
    }
}

@media (max-width: 1050px) {


    .sub-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header {
        font-size: 20px;
        font-weight: bold;
    }

    .card {
        max-width: 400px;
        width: 95%;
        margin-top: 5%;
    }

    .input-radio-form {
        font-size: 14px;
    }

    .button {
        width: 45%;
        height: 22px;
        font-size: 14px;
    }

    .result-card {
        font-size: 16px;
        padding: 5px 1px 5px;
    }

    .save-card {
        padding: 2px 6px 5px;
        font-size: 16px;
        flex-basis: 65%;
    }

    .error-box {
        margin: 5px 5px;
        min-width: 10%;
        max-width: 25%;
        max-height: 30%;
        font-size: 9px;
        padding: 8px 4px 8px 4px;
    }
}

@media (max-width: 620px) {

    .header {
        font-size: 12px;
        font-weight: bold;
    }

    .card {
        max-width: 400px;
        width: 95%;
        margin-top: 5%;
    }

    .result-card {
        font-size: 8px;
        padding: 5px 1px 5px;
    }

    .save-card {
        padding: 2px 6px 5px;
        font-size: 8px;
        flex-basis: 65%;
    }

    .search-text {
        padding: 6px 4px 6px 4px;
        font-size: 10px;
    }

    .text-input-form {
        font-size: 12px;
        font-weight: lighter;
    }

    .input-radio-form {
        font-size: 7px;
    }

    .radio-btn {
        width: 8px;
        height: 8px;
    }

    .btn-container {
        justify-self: center;
    }

    .button {
        width: 45%;
        height: 12px;
        font-size: 8px;
    }

    .error-box {
        margin: 3px 3px;
        min-width: 10%;
        max-width: 30%;
        max-height: 30%;
        font-size: 5px;
        padding: 5px 2px 5px 2px;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 7px;
        font-weight: bold;
    }

    .text-input-form {
        font-size: 6px;
        font-weight: lighter;
    }

    .search-text {
        padding: 3px 2px 3px 2px;
        font-size: 5px;
    }

    .result-card {
        font-size: 6px;
        padding: 3px 1px 3px;
    }

    .save-card {
        padding: 2px 4px 3px;
        font-size: 6px;
    }

    .input-radio-form {
        font-size: 4px;
    }

    .button {
        width: 55%;
        height: 10px;
        font-size: 5px;
    }

    .radio-btn {
        width: 6px;
        height: 6px;
    }

    .error-box {
        margin: 1px 1px;
        min-width: 10%;
        max-width: 35%;
        max-height: 20%;
        font-size: 5px;
        padding: 3px 1px 3px 1px;
    }
}